@{
    ViewData["Title"] = "Credits";
}

<h1>@ViewData["Title"]</h1>

<code>
    <p>Александър Синапов - презентатор</p>
    <p>Кристиян Джуренов - документалист</p>
    <p>Кристиан Кръчмаров - визуализатор</p>
    <p>Александър Ангелов - редактор</p>
</code>
